.panel_row{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.halfpanel{
    width: 45%;
}
.pointer{
    cursor: pointer;
}
.right_panel{
    border: 1px solid #556;
    background: #fff;
}
.header-title{
    background-color: #ebeae9;
}