.success{
    width: 550px;
    display: flex;
    border: 1px solid #445;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: #c3d897;
}
.successContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.btnSection{
    display: flex;
    column-gap: 10px;
}
.download{
    background: blue;
    color: #ffe;
}
.successText{
    font-size: 34px;
    font-family: monospace;
}
.thumb{
    font-size: 50px;
}
.hideDiv{
    display: none;
}

*{
    font-size: 14px;
}
.customerInfo{
    display: flex;
    flex-direction: column;
    column-gap: 30px;
}
.item{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.keyname{
    font-weight: bold;
    width: 130px;
}
.valueobj{
    text-transform: capitalize;
}

.loanCustomerInfo{
    display: flex;
    flex-direction: row;
}
.loanInfo{
    margin-left: auto;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 10px;
}
