.success{
    width: 550px;
    display: flex;
    border: 1px solid #445;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: #c3d897;
}
.successContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.btnSection{
    display: flex;
    column-gap: 10px;
}
.download{
    background: blue;
    color: #ffe;
}
.successText{
    font-size: 34px;
    font-family: monospace;
}
.thumb{
    font-size: 50px;
}