.container {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
} 

.lcontainer{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.lcontainer h2 {
    margin-bottom: 20px;
}

.lcontainer label {
    display: block;
    margin: 10px 0 5px;
}

.lcontainer input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.lcontainer button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.lcontainer button:hover {
    background-color: #45a049;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

span.error{
    font-size: 10px;
    padding-left: 4px;
    color: red;
    font-weight: bold;
    line-height: 1px;
}
.error_input{
    border: 2px solid #e43434 !important;
}