.main_navigation_menu-btn{
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
}
.main_navigation_menu-btn span{
   display: block;
   width: 3rem;
   height: 2.5px;
   background: white;
}

@media (min-width: 768px) {
    .main_navigation_menu-btn{
        display: none;
    }
}

.main_header{
    background: #65a63c;
    display: flex;
    color: #fff;
}
.main_header a{
    text-decoration: none;
    color: #fff;
}
.nav-links{
    display: flex;
    list-style: none;
    column-gap: 5px;
    padding: 0px;
    margin: 0px;
}

.nav-links li{
    padding: 10px;
}
.nav-links li:hover{
    background: #3c7b29;
}
.main_navigation__title{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}
.user_setting_profile{
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .nav-links{
        display: none;
    }
}
.sublink{
    position: absolute;
    z-index: 9999;
    display: block;
    background: #a58a0a;
    list-style: none;
    padding: 0px;
    margin-top: 10px;
    display: none;
}
.due_link:hover .sublink{
    display: block;
}
.activenav{
    background: #513f3f;
    padding: 10px;
}
.user_link{
    display: none;
    position: absolute;
    margin-top: 0px;
    background: #aa994c;
    width: 100px;
    box-shadow: 1px 0px 0px 0px #dddde1;
    z-index: 99999;
    padding: 5px;
    right: 10px;
    cursor: pointer;
}

.userLog:hover .user_link{
    display: block;
}

.user_link li{
    padding: 5px;
    margin-bottom: 1px;
    border-bottom: 1px solid #fff
}
.user_link li:hover{
    background-color: #3c7b29;
}