   .sidebar{
    width: 90%;
   }
   .sidebar ul{
    display: flex;
    list-style: none;
    /* column-gap: 10px; */
    color: #fff;
    padding: 0px;
    margin: 0px;
   }
   .sidebar ul li a{
    color: #fff;
    text-decoration: none;
   }
   .sidebar ul li{
     padding: 16px;
   }
   .sidebar ul li:hover{
      background: #86817b;
   }