body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/022/432/338/small_2x/green-tree-with-leaves-outline-illustration-plant-in-garden-vector.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
