/* Popup.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .popup__content{
    max-height: 500px;
    overflow-y: scroll;
  }
  .popup_tool{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
  }
  .popup_tool .popup-close{
    margin-left: auto;
  }

  
  /* Custom scrollbar styles */
  
  /* Width of the scrollbar */
  .popup__content::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track: the background of the scrollbar */
  .popup__content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Thumb: the draggable part of the scrollbar */
  .popup__content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Hover effect on the thumb */
  .popup__content::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Corner (for when both horizontal and vertical scrollbars are visible) */
  .popup__content::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }